.card{
    position: relative;
    height: 52rem;

    &__side{
        height: 52rem;

        &--front {
            background-color: $color-white;
        }
    }
    &__picture {
        background-size: cover;
        height: 23rem;
        background-blend-mode: screen;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

        &--1 {
            background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark), 
            url(/Natures/img/nat-5.jpg);
        }

    }
}